html {
  font-family: "Chivo", sans-serif;
  color: #fffe;

  --size-xxxs: 0.25em;
  --size-xxs: 0.5em;
  --size-xs: 1em;
  --size-s: 2em;
  --size-m: 3em;
  --size-l: 4em;
  --size-xl: 5em;
  --size-xxl: 6em;
  --size-xxxl: 7em;
  --size-xxxxl: 8em;
}

body {
  margin: 0px;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 24;
}

.main-container {
  background: linear-gradient(#3852c9, #2a1c5c);
  z-index: 1;
}

.top-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(-30deg, #33309b, #315fc7);
}

.bottom-panel {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.details-panel {
  display: flex;
  flex-direction: column;
  padding: var(--size-xxl);
  background-color: #e6e5f2;
  color: #115d;
}

.faq-panel {
  background-color: #e6e5f2;
  color: #115d;
}

.faq-panel-container {
  display: flex;
  flex-direction: column;
  padding: var(--size-xxl);
  background-color: #f5f4fa;
}

.jobs-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--size-xxl);
  padding-bottom: var(--size-xxxxl);
  background-color: #3656c7;
}

.contact-panel {
  font-family: "Exo 2", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--size-l);
  padding: var(--size-xxl);
  background-color: #131b35;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--size-s);
}

.details-header {
  margin-top: var(--size-s);
  margin-bottom: var(--size-xs);
  text-align: center;
}

.details-subheader {
  margin-bottom: var(--size-xxxxl);
  text-align: center;
}

.details-panel .details .detail {
  min-width: 200px;
}

.detail {
  flex: 1;
  /* background-color: rgb(211, 217, 236);
  background: linear-gradient(-30deg, #646bcc, #7d97d8); */
  /* border: 2px solid;
  border-color: #1152; */
  background-color: #f5f4fa;
  padding: var(--size-l);
  border-radius: 24px;
  transition-duration: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detail:hover {
  transition-duration: 0.3s;
  color: #3852c9;
  cursor: pointer;
}

.detail-outlined {
  flex: 1;
  /* background-color: rgb(211, 217, 236);
  background: linear-gradient(-30deg, #646bcc, #7d97d8); */
  border: 2px solid;
  border-color: #fff7;
  background-color: #0000;
  padding: var(--size-l);
  border-radius: 24px;
  transition-duration: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detail-outlined:hover {
  color: white;
  border-color: white;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: var(--size-s);
}

.card-title {
  font-family: "Exo 2", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.card-subtitle {
  font-family: "Exo 2", sans-serif;
  font-size: var(--size-xs);
  display: flex;
  flex-direction: column;
  gap: var(--size-xs);
}

.card-subtitle-light {
  opacity: 0.6;
}

.faq-item {
  flex: 1;
  /* background-color: rgb(211, 217, 236);
  background: linear-gradient(-30deg, #646bcc, #7d97d8); */
  border-bottom: 2px solid;
  border-color: #1151;
  padding: var(--size-xs);
  padding-left: 0px;
  transition-duration: 0.3s;
}

.faq-item:hover {
  transition-duration: 0.3s;
  cursor: pointer;
  border-color: #3852c9;
  color: #3852c9;
  font-weight: 700;
  padding-left: var(--size-xxs);
}

.contact-info {
  border: 2px solid #8ea3e959;
  padding: 30px;
  border-radius: var(--size-xxxs);
}

.left-top-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: var(--size-xxxxl);
  position: relative;
  justify-content: center;
}

.cross-left-part {
  position: absolute;
  right: 0;
  bottom: 0;
  /* margin-right: 6px;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  border-bottom: 3px solid #fffa;
  border-right: 3px solid #fffa; */
  opacity: 0.04;
  z-index: 2;
}

.cross-right-part {
  position: absolute;
  /* margin-left: 6px;
  margin-top: 6px;
  width: 100px;
  height: 100px;
  border-top: 3px solid #fffa;
  border-left: 3px solid #fffa; */
  margin-left: 10px;
  opacity: 0.04;
  z-index: 2;
}

.right-section {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row;
}

.main-right-panel {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.right-top-panel {
  align-self: flex-end;
  width: 720px;
}

.right-bottom-panel {
  width: 720px;
  height: 240px;
  /* background: linear-gradient(260deg, #aa53a6, #492d5e); */
}

.main-center-panel {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.center-bottom-panel {
  background: linear-gradient(170deg, #483bc0, #8051bd);
  background: linear-gradient(170deg, #4e44d4, #6474bd);
  flex: 1;
  padding: var(--size-xxl);
  align-content: flex-end;
}

.center-top-panel {
  width: 50px;
  height: 50px;
  align-self: flex-end;
}

.main-header {
  font-family: "Exo 2", sans-serif;
  font-size: var(--size-xxl);
  font-weight: 700;
  letter-spacing: 5px;
  margin-top: 220px;
  z-index: 3;
}

.main-subheader {
  font-family: "Exo 2", sans-serif;
  font-size: var(--size-l);
  font-weight: 500;
  letter-spacing: 1px;
  z-index: 3;
  margin-top: -var(--size-xs);
}

.main-image {
  position: absolute;
  z-index: 2;
  margin-top: -300px;
}

.header-text {
  font-family: "Exo 2", sans-serif;
  font-size: var(--size-s);
  font-weight: 600;
}

.header-2-text {
  font-family: "Exo 2", sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}

.main-subtitle {
  /* line-height: 25px;
  margin-top: var(--size-l); */
  font-family: "Exo 2", sans-serif;
  color: #fffb;
  max-width: 480px;
  font-weight: 500;
  text-align: center;
  margin-top: 48px;
  /* border-radius: 20px; */
}

.badges-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: space-between;
}

.badges-container-horizontal {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 60px;
  justify-content: space-between;
}

.badge {
  flex: 1;
  display: flex;
  gap: 30px;
  align-items: center;
}

.badge-small {
  display: flex;
  gap: var(--size-xs);
  align-items: center;
}

.badge-img {
  display: inline;
  filter: sepia() brightness(5.5) hue-rotate(220deg);
}

.badge-img img {
  height: 50px;
}

.badge-img-small {
  display: inline;
  margin-top: 3px;
  color: #8ea3e9;
}

.badge-line {
  height: 2px;
  background: linear-gradient(90deg, #281ccc, #281ccc00 20%);
  margin-bottom: 15px;
}

.badge-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.badge-big-title {
  font-size: 18px;
  font-weight: 400;
}

.badge-subtitle {
  line-height: 25px;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  margin-top: var(--size-l);
  border-radius: 24px;
  background: linear-gradient(130deg, #e42373, #f1608c);
}

.main-button {
  padding: 15px 30px;
  color: #fff;
  background-color: #0000;
  font-weight: 500;
  border-radius: 24px;
  display: inline-block;
  transition-duration: 0.5s;
  cursor: pointer;
}

.main-button:hover {
  color: #fff;
  background-color: #43a4ffcc;
}

.panel-column {
  width: 45%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.panel-item {
  padding: 20px;
  border-radius: 12px;
}

.item-header {
  font-weight: 600;
}

.item-bold-text {
  font-size: 14px;
  color: #fff;
}

.item-header-center {
  text-align: center;
}

.item-subtitle {
  margin-top: 15px;
  font-size: 12px;
}

.item-white:hover .item-subtitle {
  font-weight: 600;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item-subtitle-small {
  font-size: 12px;
  margin-bottom: 5px;
  color: #fffa;
}

.item-subtitle-center {
  text-align: center;
}

.panel-photo {
  box-shadow: 0px 0px var(--size-xxxs) #00153628;
  border-radius: 12px;
  overflow: hidden;
}

.item-photo {
  height: 180px;
  outline: 2px solid #5d91e0;
  outline-offset: -2px;
  border-radius: 12px;
}

.item-photo img {
}

.item-photo-gray img {
  filter: grayscale() brightness(0.8);
  height: 260px;
}

.photo-header {
  font-weight: 600;
  font-size: 18px;
  color: white;
  position: absolute;
  z-index: 1;
  margin-top: -60px;
  margin-left: 15px;
}

.item-blue {
  color: #fffd;
  background: linear-gradient(150deg, #3862ec, #3862ec);
}

.item-white {
  background-color: #fcfdff;
  cursor: pointer;
}

.item-orange {
  color: #fffd;
  height: 95px;
  background: #fdc500;
  background: linear-gradient(150deg, #96b3e1, #281ccc);
  background: linear-gradient(150deg, #2e79eb, #281ccc);
}

.photo-long {
  height: 260px;
}

.panel-column-right {
  margin-top: -80px;
}

.panel-column-left {
  margin-top: 80px;
}

.prices {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f2f6;
  padding: 15px;
  border-radius: 10px;
}

.price-title {
  font-weight: 600;
  font-size: 14px;
}

.price-subtitle {
  margin-top: 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.price-value {
  font-size: 18px;
}

.main-menu {
  width: calc(100% - var(--size-xxl) * 2);
  position: fixed;
  display: flex;
  flex-direction: row;
  padding: var(--size-l) var(--size-xxl) var(--size-l) var(--size-xxl);
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-top: 1px solid #fff2;
  border-bottom: 1px solid #fff2; */
  transition: 0.4s;
  z-index: 4;
}

.main-menu-options {
  display: flex;
  flex-direction: "row";
  gap: var(--size-l);
}

.menu-option {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  color: inherit;
}

.menu-option-bold {
  font-weight: 600;
}

.menu-scrolled {
  background-color: #131b35;
  /* background: linear-gradient(30deg, #121f4b, #1e153d); */
  transition: 0.4s;
  padding: var(--size-xxs) var(--size-xxl) var(--size-xxs) var(--size-xxl);
}

.main-menu-hamburger {
  display: none;
  width: 100%;
  position: fixed;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  /* border-top: 1px solid #fff2;
  border-bottom: 1px solid #fff2; */
  transition: 0.4s;
  z-index: 4;
  background-color: #131b35;
}

.menu-hamburger {
  cursor: pointer;
  margin-top: -2px;
}

.main-menu-hamburger-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--size-xs) var(--size-l);
  align-items: center;
}

.main-menu-hamburger-options {
  display: none;
  flex-direction: column;
  align-items: center;
}

.main-menu-hamburger-options .menu-option {
  padding: var(--size-s) var(--size-xxxxl);
}

.visible {
  display: flex;
}

@media (max-width: 1200px) {
  .details {
    flex-wrap: wrap;
  }
}

@media (max-width: 1000px) {
  html {
    --size-xxxs: 0.25em;
    --size-xxs: 0.5em;
    --size-xs: 1em;
    --size-s: 2em;
    --size-m: 2.5em;
    --size-l: 3em;
    --size-xl: 3.5em;
    --size-xxl: 4em;
    --size-xxxl: 4.5em;
    --size-xxxxl: 5em;
  }

  .main-image {
    margin-top: -200px;
  }

  .main-image img {
    height: 240px;
  }
}

@media (max-width: 800px) {
  html {
    --size-xxxs: 0.25em;
    --size-xxs: 0.5em;
    --size-xs: 1em;
    --size-s: 2em;
    --size-m: 2.5em;
    --size-l: 3em;
    --size-xl: 3.5em;
    --size-xxl: 4em;
    --size-xxxl: 4.5em;
    --size-xxxxl: 5em;
  }

  .main-menu {
    display: none;
  }

  .main-menu-hamburger {
    display: flex;
  }

  .menu-hamburger-options {
    z-index: 4;
  }

  .top-panel {
    padding: 0 var(--size-s);
  }

  .details-panel {
    padding: var(--size-xl) var(--size-xs);
  }

  .faq-panel-container {
    padding: var(--size-xl) var(--size-s);
  }

  .jobs-panel {
    padding: var(--size-xl) var(--size-xs);
  }

  .jobs-panel .details {
    flex-direction: column;
    align-self: stretch;
  }

  .details-header {
    margin-top: var(--size-xs);
    margin-bottom: var(--size-xxs);
    text-align: center;
  }

  .details-subheader {
    margin-left: var(--size-s);
    margin-right: var(--size-s);
  }

  .contact-panel {
    flex-direction: column;
    align-items: stretch;
  }

  .detail-outlined {
    flex-grow: 1;
  }
}

@media (max-width: 600px) {
  .details {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .main-header {
    font-size: var(--size-l);
  }

  .main-subheader {
    font-size: var(--size-s);
  }

  .details-panel .details .detail {
    min-width: 0px;
  }
}
